@model Shop.Models.Product

@{
    ViewData["Title"] = "Details";
}
<form action="/" method="post">
    <div class="container bg-light opacity mt-5">
        <div class="row">
            <div class="col-6">
                <img src="@Html.DisplayFor(model => model.ImgURL)" alt="Alternate Text" style="width:80%;" />
            </div>
            <div class="col-6">
                <br /><br />
                <h1 class="text-center text-danger font-weight-bold">
                    @Html.DisplayFor(model => model.Name)
                </h1>
                <hr />

                <h4 class="text-center text-danger">
                    @Html.DisplayFor(model => model.Desc)
                </h4>
                <br /><br /><hr />
                <div class="container">
                    <div class="row">
                        <div class="col-2">

                        </div>
                        <h5 class="col-3 text-danger text-center">
                            <i class="fa fa-ils" aria-hidden="true"></i> @Html.DisplayFor(model => model.Price)
                        </h5>
                        <h5 class="col-0 text-danger text-center">
                            |
                        </h5>
                        <h5 class="col-5 text-danger text-center font-weight-bold">
                            מחיר ליחידה
                        </h5>
                    </div>
                </div>
                <hr />
                <div class="container">
                    <div class="row">
                        <h5 class="col-3 font-weight-bold text-danger text-center">
                            <i class="fa fa-ils" aria-hidden="true"></i> @Html.DisplayFor(model => model.Price)
                        </h5>
                        <h5 class="col-4 font-weight-bold text-danger text-center">
                            סה''כ לתשלום
                        </h5>
                        <div class="col-2">
                            <input class="form-control text-danger btn-block rounded-0" id="quantity" type="number" min="1" value="1" name="quantity" />
                        </div>
                        <h4 class="col-3 font-weight-bold text-danger text-center">
                            כמות
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-success rounded-0 text-white font-weight-bold p-2" style="opacity:0.5;">הוסף לעגלה</button>
        <br />
    </div>

</form>